<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499492832005-c6sa0cpsvrltcke370viusn0bp3afdbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499492832005-c6sa0cpsvrltcke370viusn0bp3afdbr</string>
	<key>API_KEY</key>
	<string>AIzaSyDEsFiktR12L665xwpcJoIBAtkg7xVpXrg</string>
	<key>GCM_SENDER_ID</key>
	<string>499492832005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swift.FinanceAppIOS</string>
	<key>PROJECT_ID</key>
	<string>financeappios-2ca24</string>
	<key>STORAGE_BUCKET</key>
	<string>financeappios-2ca24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499492832005:ios:6696505b2885b902292d6c</string>
	<key>DATABASE_URL</key>
	<string>https://financeappios-2ca24.firebaseio.com</string>
</dict>
</plist>